<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v7.0" sku=".NETFramework,Version=v7.0"/>
    </startup>
    <connectionStrings>
        <add name="invent018.bancoDeDadosCG.dbo" connectionString="Data Source=INVENT018;Initial Catalog=bancoDeDadosCG;User ID=sa;Password=sap@123"
        providerName="System.Data.Client"/>
    </connectionStrings>
</configuration>